<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Escuela</title>
</head>
<body>
    <div>
        <a th:href="{/CrearAlumno}"><button>Crear Alumno</button></a>
        <a th:href="{/ConsultarAlumno}"><button>Consultar Alumno</button></a>
        <a th:href="{/BorrarAlumno}"><button>Actualizar Alumno</button></a>
        <a th:href="{/BorrarAlumno}"><button>Borrar Alumno</button></a>
        <a th:href="{/BorrarAlumno}"><button>Inscribir materias</button></a>
        <a th:href="{/BorrarAlumno}"><button>Consultar materias por Alumno</button></a>
    </div>
</body>

</html>